body {background-color:rgb(255, 223, 127);font-family: monospace;}
ul {list-style-type: none; margin: 0; padding: 10px; margin-left: 400px;margin-right: 400px ; background-color:floralwhite;text-align: center;border: 2px solid darkcyan;}

li {display: inline;}

h1 {color: darkcyan;text-decoration: none;text-align: center;font-size: 40px;}

h2 {color: darkcyan;text-decoration: none;text-align: center;font-size: 40px;}
article {text-align: center;  margin-left: 150px;margin-right: 150px;border: 2px solid darkcyan; margin-left: 500px; margin-right: 500px;}
p {text-align: center;margin-left: 150px;margin-right: 150px; text-decoration: line-through;}

button {align-items: center;} 
 
.dark-mode {
  background-color: rgb(100, 94, 94);
  color: rgb(255, 250, 250);
}